<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>UPDATE</title>
</head>
<body>
<center>
    <h3>Form Update Information Product</h3>
    <br>
    <table id="products" class="table fontText">
        <form th:action= "@{/students/update}" novalidate="novalidate" method="post" th:object="${student}" enctype="multipart/form-data">
            <tr>
                <th class="thead-dark">Id</th>
                <td>
                    <input type="number" th:field="*{id}" readonly>
                </td>
            </tr>
            <tr>
                <th class="thead-dark">Name</th>
                <td>
                    <input type="text" th:field="*{name}">
                </td>
            </tr>
            <tr>
                <th class="thead-dark">Image</th>
                <td><input type="file" th:field="*{image}"></td>
            </tr>
            <tr>
                <th class="thead-dark">Address</th>
                <td>
                    <input type="text" th:field="*{address}">
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <button class="fontText btn btn-success">Submit</button>
                </th>
            </tr>
        </form>
    </table>
</center>
</body>
</html>